.stockitem .h_company {
    background-color:#2E2E2E;
    padding: 10px;
    border-radius: 30px;
}
.stockitem .h_company * {
    vertical-align: middle;
}
.stockitem .stockitem_info {
    display: inline-block;
    width: 90%;
}

.stockitem_info .info_description {
    float: left;
    font-size: 15px;
}

.stockitem_info .info_description h3 {
    display: inline;
}

.stockitem_info .info_description *{
    vertical-align: bottom;
    margin-right: 5px;
}

.stockitem_info .info_rate {
    float: right;
}
.stockitem_info .info_rate h4{
    margin-left: 10px;
    display: inline;
}
