.stock-prediction-view {
    margin: auto;
    width: 500px;
    height: 100px;
}

.foreground {
    position: absolute;
    width: 500px;
    height: 100px;
    z-index: 2;
    text-align: center;
}

.foreground .notice p b{
    color: black;
}

.foreground .notice button{
    color: black;
}

.background {
    filter: blur(4px);
    position: absolute;
    width:500px; 
    height:100px; 
    background:white;
    z-index: 1;
}

.background p b{
    color: black;
}

.background button {
    color: black;
}

.graph {
    width:500px;
    height:400px;
    background:yellow;
    display: none;
}
