// .PostList {
//     margin: 0 auto;
//     background-color: black;
//     padding: 20px;

//     .PostItem {
//         text-align: left;
//         padding: 10px;
//         .item-info {
//             display: inline-block;
//             margin-left: 10px;
//             .info {
//             font-size: 15px;
//             color: gray;
//             }
//         }
//     }
//     .PostItem::after {
//         content:'';
//         display: block;
//         width: 100%;
//         border-bottom: 1px solid gray;
//         margin: 10px 10px 0px 0px;
//     }
// }

.PostList {
    table {
        width: 100%;
        border-collapse: separate;
        border-spacing: 0 5px;
    }
    tr {
        height: 60px;
    }
    tbody {
        tr {
            background-color: rgb(44, 43, 43);
            cursor: pointer;

            &:hover {
                background: linear-gradient(to right, rgba(158,155,154,0.5) 0%,rgba(231,227,249,0.54) 24%,rgba(220,212,252,0.58) 54%,rgba(195,179,252,0.61) 76%,rgba(165,140,253,0.65) 100%);
                // background: linear-gradient(to right, rgba(232,174,201,1) -1%,rgba(151,152,198,1) 50%,rgba(35,83,138,1) 101%);
            }
        }
        td {
            text-overflow: ellipsis;
            position: relative;
        }
        td:first-child{
            border-radius: 10px 0 0 10px;
        }
        td:last-child{
            border-radius: 0 10px 10px 0;
        }
        td::after {
            display: inline-block;
            content:"";
            height:22px;
            border-right: 1px solid darkgray;
            left: 100%;
            position: absolute;
        }
        td:last-child::after {
            content: none;
        }
        
    }
}