.stockitem_info {
    background-color:#2E2E2E;
    padding: 10px;
    border-radius: 30px;
}
.stockitem_info * {
    vertical-align: middle;
}
.stockitem_info .company_name {
   padding-left: 0px;
}

.stockitem_info .info_description {
    float: left;
    font-size: 15px;
}

.stockitem_info .info_description h3 {
    display: inline;
}

.stockitem_info .info_description *{
    vertical-align: bottom;
    margin-right: 5px;
}

.stockitem_info .info_rate {
    float: right;
    margin-right: 20px;
}
.stockitem_info .info_rate h4{
    margin-left: 10px;
    display: inline;
}
