* {
    color: white;
}
.wrapper {
    text-align: center;
    margin: 0 auto;
    width: 70%;
}
body {
    background-color: black !important;
}

.searchbar {
    margin:20px;
}
.content_search .search_input{
    display: inline;
}

.content_home .title {
    font-size: 80px;
    text-align: center;
}
.content_search .title {
    display: inline;
    margin-right: 10px;
}